{
  "openapi": "3.1.0",
  "info": {
    "title": "CNode Next API",
    "version": "1.0.0",
    "description": "Machine-readable API reference for cnode-next. The `/api/v1/*` paths preserve the public nodeclub API v1 response envelope and legacy field names where practical. This document is auto-generated from route-level zod-openapi declarations — do not hand-edit."
  },
  "servers": [
    {
      "url": "https://api.cnodejs.org",
      "description": "Production API"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local API development server"
    }
  ],
  "components": {
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/topics": {
      "get": {
        "tags": [
          "topics"
        ],
        "summary": "获取话题列表",
        "description": "支持 page、limit、tab、mdrender 参数。",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "required": false,
            "name": "tab",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true,
              "default": true
            },
            "required": false,
            "name": "mdrender",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "话题列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "author_id": {
                            "type": "string"
                          },
                          "tab": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "last_reply_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "good": {
                            "type": "boolean"
                          },
                          "top": {
                            "type": "boolean"
                          },
                          "reply_count": {
                            "type": "number"
                          },
                          "visit_count": {
                            "type": "number"
                          },
                          "create_at": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "loginname": {
                                "type": "string"
                              },
                              "avatar_url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "loginname",
                              "avatar_url"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "author_id",
                          "tab",
                          "content",
                          "title",
                          "last_reply_at",
                          "good",
                          "top",
                          "reply_count",
                          "visit_count",
                          "create_at",
                          "author"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "total"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "topics"
        ],
        "summary": "创建话题",
        "description": "需要登录。新用户需通过 Turnstile 人机验证。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 100
                  },
                  "tab": {
                    "type": "string",
                    "enum": [
                      "share",
                      "ask",
                      "job"
                    ]
                  },
                  "content": {
                    "type": "string",
                    "minLength": 1
                  },
                  "turnstileToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "tab",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "topic_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "topic_id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "禁言或人机验证失败或新用户限制",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "包含敏感词",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topic_id}": {
      "get": {
        "tags": [
          "topics"
        ],
        "summary": "获取话题详情",
        "description": "包含作者、回复和引用摘要。支持 mdrender 和 accesstoken 参数。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "topic_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true,
              "default": true
            },
            "required": false,
            "name": "mdrender",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "accesstoken",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "话题详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "author_id": {
                          "type": "string"
                        },
                        "tab": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "last_reply_at": {
                          "type": "string",
                          "nullable": true
                        },
                        "good": {
                          "type": "boolean"
                        },
                        "top": {
                          "type": "boolean"
                        },
                        "reply_count": {
                          "type": "number"
                        },
                        "visit_count": {
                          "type": "number"
                        },
                        "create_at": {
                          "type": "string"
                        },
                        "author": {
                          "type": "object",
                          "properties": {
                            "loginname": {
                              "type": "string"
                            },
                            "avatar_url": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "loginname",
                            "avatar_url"
                          ]
                        },
                        "collect_count": {
                          "type": "number"
                        },
                        "is_collect": {
                          "type": "boolean"
                        },
                        "replies": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "loginname": {
                                    "type": "string"
                                  },
                                  "avatar_url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "loginname",
                                  "avatar_url"
                                ]
                              },
                              "content": {
                                "type": "string"
                              },
                              "ups": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "create_at": {
                                "type": "string"
                              },
                              "reply_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "reply_to": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "author": {
                                    "type": "object",
                                    "properties": {
                                      "loginname": {
                                        "type": "string"
                                      },
                                      "avatar_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "loginname",
                                      "avatar_url"
                                    ]
                                  },
                                  "content_excerpt": {
                                    "type": "string"
                                  },
                                  "deleted": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "id",
                                  "author",
                                  "content_excerpt",
                                  "deleted"
                                ]
                              },
                              "is_uped": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "id",
                              "author",
                              "content",
                              "ups",
                              "create_at",
                              "reply_id",
                              "reply_to",
                              "is_uped"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "author_id",
                        "tab",
                        "content",
                        "title",
                        "last_reply_at",
                        "good",
                        "top",
                        "reply_count",
                        "visit_count",
                        "create_at",
                        "author",
                        "is_collect",
                        "replies"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "无效的话题 ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "话题不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/topics/update": {
      "post": {
        "tags": [
          "topics"
        ],
        "summary": "编辑话题",
        "description": "作者或管理员可编辑。锁定的话题仅管理员可编辑。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  },
                  "topic_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 100
                  },
                  "tab": {
                    "type": "string",
                    "enum": [
                      "share",
                      "ask",
                      "job"
                    ]
                  },
                  "content": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "topic_id",
                  "title",
                  "tab",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "topic_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "topic_id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "无权限编辑",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "话题不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "包含敏感词",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topic_id}/replies": {
      "post": {
        "tags": [
          "replies"
        ],
        "summary": "创建回复",
        "description": "创建线性回复，可传 reply_id 回复另一条回复。需要登录。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "topic_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string",
                    "minLength": 1
                  },
                  "reply_id": {
                    "type": "string"
                  },
                  "turnstileToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "reply_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "reply_id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "禁言或人机验证失败",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "话题不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "包含敏感词",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reply/{reply_id}": {
      "get": {
        "tags": [
          "replies"
        ],
        "summary": "获取回复（编辑用）",
        "description": "获取回复详情用于编辑。需要登录且为作者或管理员。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "reply_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "accesstoken",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "回复详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "topic_id": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "create_at": {
                          "type": "string"
                        },
                        "update_at": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "topic_id",
                        "content",
                        "create_at",
                        "update_at"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "无权限",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "回复或话题不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reply/{reply_id}/edit": {
      "post": {
        "tags": [
          "replies"
        ],
        "summary": "编辑回复",
        "description": "作者或管理员可编辑。锁定的话题仅管理员可编辑。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "reply_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "编辑成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "reply_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "reply_id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "无权限或话题锁定",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "回复或话题不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "包含敏感词",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reply/{reply_id}/delete": {
      "post": {
        "tags": [
          "replies"
        ],
        "summary": "删除回复",
        "description": "作者或管理员可删除。软删除。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "reply_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "删除成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "无权限",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "回复不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "回复已删除",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reply/{reply_id}/ups": {
      "post": {
        "tags": [
          "replies"
        ],
        "summary": "回复点赞/取消点赞",
        "description": "切换点赞状态。不能给自己的回复点赞（非 dev 模式）。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "reply_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "action"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "不能给自己点赞",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "回复不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/stars": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "获取星标用户",
        "responses": {
          "200": {
            "description": "星标用户列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "loginname": {
                            "type": "string"
                          },
                          "avatar_url": {
                            "type": "string"
                          },
                          "githubUsername": {
                            "type": "string"
                          },
                          "create_at": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "topic_count": {
                            "type": "number"
                          },
                          "reply_count": {
                            "type": "number"
                          },
                          "is_star": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "loginname",
                          "avatar_url",
                          "githubUsername",
                          "create_at",
                          "score",
                          "topic_count",
                          "reply_count",
                          "is_star"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/top100": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "获取积分前 100 用户",
        "responses": {
          "200": {
            "description": "Top 100 用户",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "loginname": {
                            "type": "string"
                          },
                          "avatar_url": {
                            "type": "string"
                          },
                          "githubUsername": {
                            "type": "string"
                          },
                          "create_at": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "topic_count": {
                            "type": "number"
                          },
                          "reply_count": {
                            "type": "number"
                          },
                          "is_star": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "loginname",
                          "avatar_url",
                          "githubUsername",
                          "create_at",
                          "score",
                          "topic_count",
                          "reply_count",
                          "is_star"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user/{loginname}/topics": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "用户的话题列表",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "loginname",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "话题列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "author_id": {
                            "type": "string"
                          },
                          "tab": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "last_reply_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "good": {
                            "type": "boolean"
                          },
                          "top": {
                            "type": "boolean"
                          },
                          "reply_count": {
                            "type": "number"
                          },
                          "visit_count": {
                            "type": "number"
                          },
                          "create_at": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "loginname": {
                                "type": "string"
                              },
                              "avatar_url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "loginname",
                              "avatar_url"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "author_id",
                          "tab",
                          "content",
                          "title",
                          "last_reply_at",
                          "good",
                          "top",
                          "reply_count",
                          "visit_count",
                          "create_at",
                          "author"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "loginname": {
                          "type": "string"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "githubUsername": {
                          "type": "string"
                        },
                        "create_at": {
                          "type": "string"
                        },
                        "score": {
                          "type": "number"
                        },
                        "topic_count": {
                          "type": "number"
                        },
                        "reply_count": {
                          "type": "number"
                        },
                        "is_star": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "loginname",
                        "avatar_url",
                        "githubUsername",
                        "create_at",
                        "score",
                        "topic_count",
                        "reply_count",
                        "is_star"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "total",
                    "user"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "用户不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user/{loginname}/replies": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "用户的回复列表",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "loginname",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "回复列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "author_id": {
                            "type": "string"
                          },
                          "tab": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "last_reply_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "good": {
                            "type": "boolean"
                          },
                          "top": {
                            "type": "boolean"
                          },
                          "reply_count": {
                            "type": "number"
                          },
                          "visit_count": {
                            "type": "number"
                          },
                          "create_at": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "loginname": {
                                "type": "string"
                              },
                              "avatar_url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "loginname",
                              "avatar_url"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "author_id",
                          "tab",
                          "content",
                          "title",
                          "last_reply_at",
                          "good",
                          "top",
                          "reply_count",
                          "visit_count",
                          "create_at",
                          "author"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "loginname": {
                          "type": "string"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "githubUsername": {
                          "type": "string"
                        },
                        "create_at": {
                          "type": "string"
                        },
                        "score": {
                          "type": "number"
                        },
                        "topic_count": {
                          "type": "number"
                        },
                        "reply_count": {
                          "type": "number"
                        },
                        "is_star": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "loginname",
                        "avatar_url",
                        "githubUsername",
                        "create_at",
                        "score",
                        "topic_count",
                        "reply_count",
                        "is_star"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "total",
                    "user"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "用户不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user/{loginname}/collections": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "用户的收藏列表",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "loginname",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "收藏列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "author_id": {
                            "type": "string"
                          },
                          "tab": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "last_reply_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "good": {
                            "type": "boolean"
                          },
                          "top": {
                            "type": "boolean"
                          },
                          "reply_count": {
                            "type": "number"
                          },
                          "visit_count": {
                            "type": "number"
                          },
                          "create_at": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "loginname": {
                                "type": "string"
                              },
                              "avatar_url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "loginname",
                              "avatar_url"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "author_id",
                          "tab",
                          "content",
                          "title",
                          "last_reply_at",
                          "good",
                          "top",
                          "reply_count",
                          "visit_count",
                          "create_at",
                          "author"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "loginname": {
                          "type": "string"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "githubUsername": {
                          "type": "string"
                        },
                        "create_at": {
                          "type": "string"
                        },
                        "score": {
                          "type": "number"
                        },
                        "topic_count": {
                          "type": "number"
                        },
                        "reply_count": {
                          "type": "number"
                        },
                        "is_star": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "loginname",
                        "avatar_url",
                        "githubUsername",
                        "create_at",
                        "score",
                        "topic_count",
                        "reply_count",
                        "is_star"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "total",
                    "user"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "用户不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user/{loginname}": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "获取用户详情",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "loginname",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "用户详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "loginname": {
                          "type": "string"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "githubUsername": {
                          "type": "string"
                        },
                        "create_at": {
                          "type": "string"
                        },
                        "score": {
                          "type": "number"
                        },
                        "topic_count": {
                          "type": "number"
                        },
                        "reply_count": {
                          "type": "number"
                        },
                        "collect_topic_count": {
                          "type": "number"
                        },
                        "is_block": {
                          "type": "boolean"
                        },
                        "is_muted": {
                          "type": "boolean"
                        },
                        "recent_topics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "loginname": {
                                    "type": "string"
                                  },
                                  "avatar_url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "loginname",
                                  "avatar_url"
                                ]
                              },
                              "title": {
                                "type": "string"
                              },
                              "last_reply_at": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "id",
                              "author",
                              "title",
                              "last_reply_at"
                            ]
                          }
                        },
                        "recent_replies": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "loginname": {
                                    "type": "string"
                                  },
                                  "avatar_url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "loginname",
                                  "avatar_url"
                                ]
                              },
                              "title": {
                                "type": "string"
                              },
                              "last_reply_at": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "id",
                              "author",
                              "title",
                              "last_reply_at"
                            ]
                          }
                        }
                      },
                      "required": [
                        "loginname",
                        "avatar_url",
                        "githubUsername",
                        "create_at",
                        "score",
                        "topic_count",
                        "reply_count",
                        "collect_topic_count",
                        "is_block",
                        "is_muted",
                        "recent_topics",
                        "recent_replies"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "用户不存在",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accesstoken": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "验证 accessToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  }
                },
                "required": [
                  "accesstoken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "验证成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "loginname": {
                      "type": "string"
                    },
                    "avatar_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "is_block": {
                      "type": "boolean"
                    },
                    "is_muted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "loginname",
                    "avatar_url",
                    "id",
                    "is_block",
                    "is_muted"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "缺少 accesstoken",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "accesstoken 无效",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user/refresh_token": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "刷新 accessToken",
        "responses": {
          "200": {
            "description": "刷新成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "accessToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "accessToken"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/messages": {
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "获取消息列表",
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "nullable": true,
              "default": true
            },
            "required": false,
            "name": "mdrender",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "accesstoken",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "消息列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "has_read_messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "reply",
                                  "reply2",
                                  "at"
                                ]
                              },
                              "has_read": {
                                "type": "boolean"
                              },
                              "create_at": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "loginname": {
                                    "type": "string"
                                  },
                                  "avatar_url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "loginname",
                                  "avatar_url"
                                ]
                              },
                              "topic": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "author": {
                                    "type": "object",
                                    "properties": {
                                      "loginname": {
                                        "type": "string"
                                      },
                                      "avatar_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "loginname",
                                      "avatar_url"
                                    ]
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "last_reply_at": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "id",
                                  "author",
                                  "title",
                                  "last_reply_at"
                                ]
                              },
                              "reply": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "string"
                                  },
                                  "ups": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "create_at": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "content",
                                  "ups",
                                  "create_at"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "has_read",
                              "create_at",
                              "author",
                              "topic",
                              "reply"
                            ]
                          }
                        },
                        "hasnot_read_messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "reply",
                                  "reply2",
                                  "at"
                                ]
                              },
                              "has_read": {
                                "type": "boolean"
                              },
                              "create_at": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "loginname": {
                                    "type": "string"
                                  },
                                  "avatar_url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "loginname",
                                  "avatar_url"
                                ]
                              },
                              "topic": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "author": {
                                    "type": "object",
                                    "properties": {
                                      "loginname": {
                                        "type": "string"
                                      },
                                      "avatar_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "loginname",
                                      "avatar_url"
                                    ]
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "last_reply_at": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "id",
                                  "author",
                                  "title",
                                  "last_reply_at"
                                ]
                              },
                              "reply": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "string"
                                  },
                                  "ups": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "create_at": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "content",
                                  "ups",
                                  "create_at"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "has_read",
                              "create_at",
                              "author",
                              "topic",
                              "reply"
                            ]
                          }
                        }
                      },
                      "required": [
                        "has_read_messages",
                        "hasnot_read_messages"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/message/count": {
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "获取未读消息数",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "accesstoken",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "未读数",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/message/mark_all": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "标记全部已读",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "marked_msgs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "marked_msgs"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未登录",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error_msg": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/message/mark_one/{msg_id}": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "标记单条已读",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "msg_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accesstoken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "marked_msg_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "marked_msg_id"
                  ]
                }
              }
[...]
